#Options FollowSymLink
RewriteEngine On
RewriteBase /programtv/
#RewriteRule ^admin/(.*).html$ index.php?r=admin&m=$1 [L]
#RewriteRule ^index\.php/test/(.*)/(.*)$ index.php?r=test&a=$1&b=$2 [L]
RewriteRule ^index\.php/(.*)$ index.php?r=$1 [L]
